
.labelsA {
    background-color: #4BA5FF;
}

.labelsF {
    background-color: #F58220;
}

.labelsHeader {
    background-color: #4BA5FF;
}

.alturaCorta {
    overflow-y: auto;
    height: 500px;
}

.alturaLarga {
    overflow-y: auto;
    height: 700px;
}

.disabledF {
    pointer-events: none;
    opacity: 0.6;
    background-color: #F58220;
}

.disabledA {
    pointer-events: none;
    opacity: 0.6;
    background-color: #4BA5FF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
header {
    height: 50px;
    background: #4BA5FF;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
headerA {
    height: 50px;
    background: #4BA5FF;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btn-menu{
    display:none;
}

header label{
    font-size:10px;
    cursor:pointer;
    display:none;
}

headerA label {
    font-size: 10px;
    cursor: pointer;
    display: none;
}

.menu ul {
    background: linear-gradient(to bottom, rgba(245,130,32,1) 0%, rgba(244,131,11,1) 0%, rgba(245,130,22,1) 11%, rgba(245,130,32,0.92) 21%, rgba(245,130,32,0.27) 100%);
    display: flex;
    list-style: none;
}

.menu ul ul {
    display:none;
}

.menu a {
    display:block;
    padding:15px 20px;
    color:#ffffff;
    text-decoration: none;
}

.menu a:hover{
    background: #808080;
}

menu a span{
    margin-left: 10px;
}

.menu ul li:hover ul{
    display:block;
    position:absolute;
}

@media(max-width:768px){
    header label{
        display:block;
    }
    headerA label {
        display: block;
    }

    .menu{
        position:absolute;
        top:50px;
        left:0;
        width:50%;
        transform:translateX(-100%);
        transition:all 0.5s;
    }
        .menu ul {
            display: block;
            background: radial-gradient(0,0,0,0,4);
        }
    .menu ul li:hover ul{
        display:none;
        position:static;
    }
    .menu a span{
        position:absolute;
        right:5px;
    }
    #btn-menu:checked ~ .menu{
        transform:translateX(0%);
    }

    .menu ul ul{
        background: radial-gradient(0,0,0,0,4);
    }

    .menu ul ul a{
       padding: 15px 40px;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    font: 11px Tahoma;
}

h1 {
    font: bold 32px Times;
    color: #666;
    text-align: center;
    padding: 20px 0;
}

.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(/imagenes/grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .mGrid .alt {
        background: #fcfcfc url(/imagenes/grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(/imagenes/grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }